.helloButton {
    background-color: black;
    color: white;
}

.test {
    background-color: aquamarine;
    color: blueviolet;
}

/* #repeat-text {
    height: 50px;
    width: 150px;
    color: burlywood;
    background-color: blue;
} */